<app-header></app-header>

<br>
<h1>Angular API Call</h1>
<h4>{{api_fatch_sms}}</h4>
<h6>{{deletestatus_mss}}</h6>
<br>
<div style="height: 250px; width: fit-content; overflow-y: scroll;">
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>Password</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let apidata of api_users">
            <td>{{apidata.id}}</td>
            <td>{{apidata.name}}</td>
            <td>{{apidata.email}}</td>
            <td>{{apidata.password}}</td>
            <td><img src="http://127.0.0.1:8000/uploadFiles/{{apidata.photo}}" width="30" height="30" alt=""></td>
            <td>
                <button mat-raised-button color="accent" (click)="deleterow(apidata.id)">Delete</button>
                <button mat-raised-button color="accent" (click)="showrow(apidata.id)">Edit</button>
            </td>
        </tr>
    </table>
</div>
<br>
<div *ngIf="display" style="text-align: center; width: 50%;">
    <h3>Edit User Data</h3>
    <form class="reactiveForm" [formGroup]="updateForm" (ngSubmit)="updateUser()">
        <input type="hidden" name="user_id" id="user_id" value="{{user_id}}" formControlName="user_id">
        <table>
            <tr>
                <td>
                    <input type="text" name="new_name" id="new_name" value="{{editname}}"
                        formControlName="new_name"><br>
                    <span *ngIf="new_name && new_name.invalid && new_name.touched">This field is not valid</span>
                </td>
                <td>
                    <input type="text" name="new_email" id="new_email" value="{{editemail}}"
                        formControlName="new_email"><br>
                    <span *ngIf="new_email && new_email.invalid && new_email.touched">This field is not valid</span>
                </td>
                <td>
                    <input type="password" name="new_password" id="new_password" value="{{editpassword}}"
                        formControlName="new_password"><br>
                    <span *ngIf="new_password && new_password.invalid && new_password.touched">This field is not
                        valid</span>
                </td>
                <td><button [disabled]="updateForm.invalid">Update</button></td>
            </tr>
        </table>

    </form>
</div>
<br>
<h1>Angular API POST method</h1>
<h6>{{poststatus_mss}}</h6>
<br>
<p *ngIf="progress > 0">Progress : {{progress}}%</p>
<br>
<form class="reactiveForm" [formGroup]="api_postForm" (ngSubmit)="getUserFormData()">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Name</mat-label>
        <input type="text" matInput name="name" id="name" formControlName="name">
        <span *ngIf="name && name.invalid && name.touched">This field is not valid</span>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Email Id</mat-label>
        <input type="text" matInput name="email" id="email" formControlName="email">
        <span *ngIf="email && email.invalid && email.touched">This field is not valid</span>
    </mat-form-field> 
    <br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Password</mat-label>
        <input type="password" matInput name="password" id="password" formControlName="password">
        <span *ngIf="password && password.invalid && password.touched">This field is not valid</span>
    </mat-form-field>
    <div> 
        <label>Select Photo</label>
        <input type="file" name="photo" id="photo" formControlName="photo" (change)="uploadFile($event)">
        <span *ngIf="photo && photo.invalid && photo.touched">This field is not valid</span>
    </div>
    <br> <br>
    <button mat-raised-button color="accent" [disabled]="api_postForm.invalid">Submit</button>
</form>
<br>
<h1 class="heading">Hello Angular</h1>
<p>
    <ngb-alert [dismissible]="false">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
</p>
<h1>This is title - {{title}}</h1>
<h1>{{interpolation}}</h1>

<h1>{{getValue()}}</h1>
<h1>{{2+2}}</h1>

<h1>{{title=='angular 10'}}</h1>

<app-login></app-login>

<app-child  [perentdata]="Pdata" [perentdata2]="Pdata2" (updatecDataEvent)="updatecData($event)"></app-child>
<br> 
<b> is child Data: {{childData}}</b> 
<br>
<Button (click)="updateData()">Update Perent data</Button>
<br>
<h1>Calss - 07-02-2022(Reusable Component)</h1>
<ul *ngFor="let user of userDetails1">
    <app-userdetails [item]="user"></app-userdetails>
</ul>
<app-user-list></app-user-list>
<br>
<app-form-component></app-form-component>
<br><br>
<h1>class-13-02-2022(Angular Make Services)</h1>
<br><br>
<ul>
    <li *ngFor="let data of services_users">Name:{{data.name}}, Emails:{{data.email}}</li>
</ul>
<br>
<h1>Calss - 15-02-2022(Model & Interface)</h1>
{{testInterface() | json}}
<br><br>
<app-userlogin></app-userlogin>
<br><br>
<h1>Recap Routing or Module in angular</h1>
<br>
<app-signin></app-signin>
<app-footer></app-footer>
<br>
<br>